.header
{
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px yellowgreen;
    font-size: 25px;
}

.header1
{
    background: white;
    color: black;
    float: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px orange;
}

.header2
{
    font-size: 20px;
}

.result
{
    font-size: 20px;
    box-shadow: 5px 5px 5px yellow;
}

.footer
{
    position: fixed;
    font-size: 20px;
    bottom: 0;
    text-align: center;
    color: black;
    background-color: yellow;
    width: 100%;
    align-items: center;
    line-height: 2;
}

canvas
{
    border: solid 5px black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkred;
}